<div class="flex justify-center mb-8">
  <div class="text-5xl text-gray-700">Quiz game</div>
</div>
<p-card>
  <div class="flex justify-between">
    <div class="text-xl text-red-400">{{ errorCount }}</div>
    <div class="text-3xl text-gray-500">
      {{ currentIndex + 1 }}/{{ questions.length }}
    </div>
    <div class="text-xl text-green-400">{{ successCount }}</div>
  </div>

  <p-divider></p-divider>
  <div class="text-center">
    <div class="mx-auto font-medium text-4xl mb-4 text-gray-700">
      {{ questions[currentIndex].word | uppercase }}
    </div>
  </div>
  <p-divider></p-divider>

  <div class="flex flex-col gap-2">
    <!-- p-ripple p-button p-component p-button-secondary -->
    <!-- p-ripple p-button p-component p-button-success -->
    <!-- p-ripple p-button p-component p-button-warn -->
    <button
      *ngFor="let item of questions[currentIndex].options"
      class="w-full p-ripple p-button p-component p-button-secondary optionButton"
      pButton
      [attr.isCorrect]="item.isCorrect"
      (click)="selectButton(item)"
    >
      <span class="p-button-label">{{ item.text | uppercase }}</span>
    </button>
  </div>
  <div>
    <p-button
      class="flex flex-col gap-2"
      label="Back to main menu"
      [raised]="true"
      severity="secondary"
      routerLink="/"
    />
  </div>
</p-card>
