<div class="layout-wrapper layout-static p-4">
  <p-card>
    <!-- resetCurrentGame  -->

    <!-- <p-button
      (onClick)="showAllButtons()"
      label="Show"
      class="mr-1"
      severity="warn"
      size="small"
    ></p-button> -->
    <div class="flex justify-between gap-2">
      <p-button
        (onClick)="restartCurrentLevel()"
        label="Restart"
        icon="pi pi-replay"
        class="mr-1"
        severity="danger"
        size="small"
      ></p-button>
      <p-button
        (onClick)="resetCurrentGameState()"
        label="Reset"
        icon="pi pi-refresh"
        class="mr-1"
        severity="warn"
        size="small"
      ></p-button>
      <p-button
        (onClick)="nextQuestion()"
        label="Next"
        icon="pi pi-arrow-right"
        size="small"
      ></p-button>
    </div>
    <p-divider></p-divider>
    <div class="text-center">
      <div class="mx-auto font-medium text-4xl mb-4 text-gray-700">
        {{ element.elementsA[0].text }}
      </div>
    </div>
    <p-divider></p-divider>
    <div class="grid grid-cols-2 gap-2">
      <div class="flex flex-col gap-2">
        <button
          [attr.id]="item.id"
          [attr.associated]="item.idAssociated"
          *ngFor="let item of element.elementsA"
          pButton
          (click)="clickedElementA(item)"
          class="w-full p-ripple p-button p-component p-button-secondary leftButton"
          type="button"
        >
          <span class="p-button-label">{{ item.text }}</span>
        </button>
      </div>
      <div class="flex flex-col gap-2">
        <button
          [attr.id]="item.id"
          [attr.associated]="item.idAssociated"
          *ngFor="let item of element.elementsB"
          pButton
          (click)="clickedElementB(item)"
          class="w-full p-ripple p-button p-component p-button-secondary rightButton"
          type="button"
        >
          <span class="p-button-label">{{ item.text }}</span>
        </button>
      </div>
    </div>

    <!-- <p-button label="Sample" (onClick)="tempCall()"></p-button> -->
  </p-card>
</div>

<p-toast position="top-center"></p-toast>
<p-confirmDialog
  [style]="{ width: '30rem' }"
  [position]="'center'"
></p-confirmDialog>
<router-outlet />
