<div class="flex justify-between gap-2">
  <!-- <p-button
    (onClick)="resetCurrentGameState()"
    label="Reset state"
    icon="pi pi-replay"
    severity="danger"
    size="small"
  ></p-button> -->
  <p-button
    label="Back to menu"
    icon="pi pi-arrow-left"
    severity="secondary"
    routerLink="/menu-game-pair"
    size="small"
  />
  <p-button
    (onClick)="restartCurrentLevel()"
    label="ReSort"
    icon="pi pi-refresh"
    severity="warn"
    size="small"
  ></p-button>
  <p-button
    (onClick)="nextQuestion()"
    label="Next"
    icon="pi pi-arrow-right"
    size="small"
  ></p-button>
</div>
<p-divider></p-divider>

<div class="flex justify-between gap-2">
  <div class="font-medium text-2xl text-red-600">{{ wrongAnswerCount }}</div>
  <div class="font-medium text-2xl text-blue-600">{{ totalQuestions }}</div>
  <div class="font-medium text-2xl text-green-600">{{ rightAnswerCount }}</div>
</div>

<p-divider type="dotted"></p-divider>
<div class="text-center">
  <div class="mx-auto font-medium text-4xl mb-4 text-gray-700">
    {{ titleGame }}
  </div>
</div>
<p-divider></p-divider>
<div class="grid grid-cols-2 gap-2">
  <div class="flex flex-col gap-2">
    <button
      [attr.id]="item.id"
      [attr.associated]="item.idAssociated"
      *ngFor="let item of element.elementsA"
      pButton
      (click)="clickedElementA(item)"
      class="w-full p-ripple p-button p-component p-button-secondary leftButton"
      type="button"
    >
      <span class="p-button-label">{{ item.text }}</span>
    </button>
  </div>
  <div class="flex flex-col gap-2">
    <button
      [attr.id]="item.id"
      [attr.associated]="item.idAssociated"
      *ngFor="let item of element.elementsB"
      pButton
      (click)="clickedElementB(item)"
      class="w-full p-ripple p-button p-component p-button-secondary rightButton"
      type="button"
    >
      <span class="p-button-label">{{ item.text }}</span>
    </button>
  </div>
</div>
